$p-2: 2px;
$p-3: 3px;
$pt-3: 3px;
$pt-4: 4px;
$mt-4: 4px;
$bg-white: white;
$color-w:white;
$w-100: 100%;
$fw-b: bold;
$cursor: pointer;
$dis-flex: flex;
$mar-auto: auto;
$txt-align-r:right;
$txt-align-l:left;
$mar-r:right;
$mar-l:left;
$no-mar:0;
$no-pad:0;
$align-i-center: center;
$align-txt-center: center;
$txt-center: center;
$txt-deco-none: none;
$no-border:none;
$none-outline: none;
$no-box-shadow:none;
$border-radius-50: 50%;